/* styles.css */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.plussell{
   border: 2px solid black;
   width: 70px;
   padding: 3px;
   position: relative;
   top: 0;
   height: 30px;
}
.sellll{
  
 
}
.plus{
  position: absolute;
  top: 2px;
}
/* .button-with-line {
    position: relative;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: none;
  }
  
  .button-with-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; Adjust this value to control the distance of the line from the button
    width: 100%;
    height: 2px;
    background-color: black;
  } */
  